<div class="container mt-5">
    <div class="mb-2" style="user-select: none;">
        <h3 class="mb-3">EMPLEADOS</h3>
        <div class="d-flex justify-content-end align-items-center gap-3">                      
            <select class="form-select w-auto" [(ngModel)]="filtroSeccion">
                <option value="">TODOS</option>
                @for (sec of secciones; track sec) {
                <option [value]="sec">
                    {{ sec }}
                </option>
                }
            </select>
            <h3 class="text-muted m-0">
                {{ textoFiltroEmpleados }}
            </h3>  
        </div>
    </div>
    <div class="card shadow">
        <div class="card-body" style="user-select: none;">
            <table class="table table-hover align-middle text-center">
                <thead class="table-dark">
                    <tr>
                        <th (click)="ordenarEmpleados('idEmpleado')">
                            ID
                            <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn==='idEmpleado' && sortDirection==='asc', 'bi-caret-down-fill':
                             sortColumn==='idEmpleado' && sortDirection==='desc'}"></i>
                        </th>
                        <th (click)="ordenarEmpleados('nombre')">
                            NOMBRE
                            <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn==='nombre' && sortDirection==='asc', 'bi-caret-down-fill':
                             sortColumn==='nombre' && sortDirection==='desc'}"></i>
                        </th>
                        <th (click)="ordenarEmpleados('apellido')">
                            APELLIDO
                            <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn==='apellido' && sortDirection==='asc', 'bi-caret-down-fill':
                             sortColumn==='apellido' && sortDirection==='desc'}"></i>
                        </th>
                        <th (click)="ordenarEmpleados('numEmpleado')">
                            NUM DE EMPLEADO
                            <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn==='numEmpleado' && sortDirection==='asc', 'bi-caret-down-fill':
                             sortColumn==='numEmpleado' && sortDirection==='desc'}"></i>
                        </th>
                        <th (click)="ordenarEmpleados('seccion')">
                            SECCION
                            <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn==='seccion' && sortDirection==='asc', 'bi-caret-down-fill':
                             sortColumn==='seccion' && sortDirection==='desc'}"></i>
                        </th>
                        <th (click)="ordenarEmpleados('sueldo')">
                            SALARIO
                            <i class="bi" [ngClass]="{'bi-caret-up-fill': sortColumn==='sueldo' && sortDirection==='asc', 'bi-caret-down-fill':
                             sortColumn==='sueldo' && sortDirection==='desc'}"></i>
                        </th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    @for (empleado of empleadosFiltrados(); track empleado.idEmpleado) {
                    <tr>
                        <td> {{empleado.idEmpleado}} </td>
                        <td> {{empleado.nombre}} </td>
                        <td> {{empleado.apellido}} </td>
                        <td> {{empleado.numEmpleado}} </td>
                        <td> {{empleado.seccion}} </td>
                        <td> {{empleado.sueldo | currency: 'MXN':'symbol':'1.2-2' }} </td>
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="eliminar(empleado.numEmpleado)">
                                <i class="bi bi-trash"></i>
                            </button>
                            <button class="btn btn-lg btn-warning btn-sm" (click)="obtenerPDF(empleado.numEmpleado)">
                                <i class="bi bi-file-earmark-pdf"></i>
                            </button>
                            <button class="btn btn-lg btn-warning btn-sm" (click)="editar(empleado)">
                                <i class="bi bi-pencil"></i>
                            </button>
                        </td>
                    </tr>
                    }@empty{
                    <td class="text-center" colspan="5"> No hay empleados registrados</td>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>